@charset "utf-8";
/* CSS Document */

body {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	background-color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
	background-image: url(Images/background.png);
}
.wrapper {
	background-color: #660066;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	background-image: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #00FFFF;
}
.thispage {
	background-color: #9FC;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #903;
}
.content {
	background-color: #FF6;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	color: #90F;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	text-align: center;
}
body {
	background-color: #FFFFFF;
}
.morecontent {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #90F;
	background-color: #0F9;
	text-align: center;
}
.lastcontent {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	background-color: #9F6;
	color: #606;
}
.evenmorecontent {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #0FC;
	background-color: #F3F;
}
body, td, th {
	color: #FFF;
	background-color: #0FF;
